<div class="date-sticky-container">
  <div class="date-sticky">Saturday 04 June</div>
  <section class="arrival section-space-bot">
    <div class="container-a">
      <h2 class="arrival__title" id="mark1" data-title="Arrival in Greece">
        ARRIVAL IN GREECE
      </h2>
      <div class="arrival__container">
        <div class="arrival__item">
          <div class="arrival__item-title">
            Flight Details: Athens to Thessaloniki
          </div>
          <div class="arrival__item-text">
            <ul>
              <li>LH1510 arriving at 17:00</li>
              <li>Ticket Class: Economy</li>
              <li>
                Flex ticket: 1 Piece of luggage per passenger up to 23 kg.
              </li>
            </ul>
          </div>
          <div class="arrival__item-note"></div>
        </div>
        <div class="arrival__item">
          <div class="arrival__item-title">VIP Connection Service:</div>
          <div class="arrival__item-text">
            <p>
              Our dedicated VIP airport services at Athens International Airport
              results in stress free arrivals, seamless flight connections and
              effortless departures. Leave all the details to our experienced
              English-speaking staff, who are there to ensure that a potentially
              stressful travel day turns into a smooth and efficient experience.
            </p>
            <div #readHidden class="read-more-hidden">
              <p>
                Our dedicated VIP airport services at Athens International
                Airport results in stress free arrivals, seamless flight
                connections and effortless departures. Leave all the details to
                our experienced English-speaking staff, who are there to ensure
                that a potentially stressful travel day turns into a smooth and
                efficient experience.
              </p>
            </div>
            <div #readMore class="read-more">Read More +</div>
          </div>
          <div class="arrival__item-note"></div>
        </div>
        <div class="arrival__item">
          <div class="arrival__item-title">
            Flight Details: Athens to Thessaloniki
          </div>
          <div class="arrival__item-text">
            <ul>
              <li>Pickup: 17:00 - LH 510 arriving at 17:00</li>
              <li>Drop off: Mykonos Grand</li>
            </ul>
          </div>
          <div class="arrival__item-note">
            Your drive time is approximately 30 minutes.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hotels-1 section-space-bot">
    <div class="section-starter">accomodation</div>
    <div class="container-a">
      <h3 class="hotels-1__title" id="mark3" data-title="Accomodation">
        new hotel
      </h3>
      <div class="hotels-1__container">
        <div class="hotels-1__swiper">
          <app-swiper></app-swiper>
        </div>
        <div class="hotels-1__information">
          <ul class="hotels-1__information-list">
            <li>
              <div class="hotels-1__information-title">Duration of stay</div>
              <div class="hotels-1__information-text">03 June to 05 June:</div>
            </li>
            <li>
              <div class="hotels-1__information-title">Nights</div>
              <div class="hotels-1__information-text">2</div>
            </li>
            <li>
              <div class="hotels-1__information-title">Accomodation</div>
              <div class="hotels-1__information-text">
                1x Superior Plus Room B&B
              </div>
            </li>
            <li>
              <div class="hotels-1__information-title">Website</div>
              <div class="hotels-1__information-text">
                <a href="www.yeshotels.gr/newhotel/"
                  >www.yeshotels.gr/newhotel/</a
                >
              </div>
            </li>
            <li>
              <div class="hotels-1__information-title">Confirmation number</div>
              <div class="hotels-1__information-text">27471771</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
