<div class="date-sticky-container">
  <div class="date-sticky">Saturday 30 June</div>
  <section class="travel section-space-bot">
    <div class="container-a">
      <h2 class="travel__title" id="mark101" data-title="santorini">
        TRAVEL TO SANTORINI
      </h2>
    </div>
    <div class="travel__container">
      <div class="travel__item">
        <div class="travel__item-title">Transfer</div>
        <div class="travel__item-border"></div>
        <div class="travel__item-box">
          <div class="travel__item-text">
            <b>Hotel to the port of Pireaus - Luxury Mercedes Minivan</b>
            <ul>
              <li>Pickup: 12:00 - New Hotel</li>
              <li>Drop off: Port of piraeus Power Jet departing at 13:45</li>
            </ul>
          </div>
          <div class="travel__item-note">
            Your drive time is approximately 30 minutes.
          </div>
        </div>
      </div>
      <div class="travel__item">
        <div class="travel__item-title">Ferry Details</div>
        <div class="travel__item-border"></div>
        <div class="travel__item-box">
          <div class="travel__item-text">
            <b>Golden Star Ferries</b>
            <ul>
              <li>Departure: 13:45</li>
              <li>Arrival: 15:45</li>
              <li>Ticket Class: VIP Seat</li>
              <li>Record locator: 7416THIMD</li>
            </ul>
          </div>
          <div class="travel__item-note"></div>
        </div>
      </div>
      <div class="travel__item">
        <div class="travel__item-title">VIP Port Arrival Assistance</div>
        <div class="travel__item-border"></div>
        <div class="travel__item-box">
          <div class="travel__item-text">
            <b>Time: 15:45 </b>
            <p>
              As you disembark from the ferry in Santorini, our representative
              will welcome you and accompany you to your driver. Together, you
              will proceed to your hotel.
            </p>
          </div>
          <div class="travel__item-note"></div>
        </div>
      </div>
      <div class="travel__item">
        <div class="travel__item-title">Transfer</div>
        <div class="travel__item-border"></div>
        <div class="travel__item-box">
          <div class="travel__item-text">
            <b>Port of Santorini to Hotel - Luxury Mercedes Minivan</b>
            <ul>
              <li>Pickup: 15:45 - Power Jet arriving at 15:45</li>
              <li>Drop off: Andronis Arcadia Hotel</li>
            </ul>
          </div>
          <div class="travel__item-note">
            Your drive time is approximately 30 minutes.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hotels-2 section-space-bot">
    <div class="section-starter">accomodation</div>
    <div class="container-a">
      <h3 class="hotels-2__title" id="mark109" data-title="Arcadia">
        Andronis Arcadia
      </h3>
    </div>
    <div class="container-a no-padding-right">
      <div class="hotels-2__container">
        <div class="hotels-2__swiper">
          <app-swiper-2 [section]="1"></app-swiper-2>
        </div>
        <div class="hotels-2__information">
          <ul class="hotels-2__information-list">
            <li>
              <div class="hotels-2__information-title">duration of stay</div>
              <div class="hotels-2__information-text">03 June to 05 June</div>
            </li>
            <li>
              <div class="hotels-2__information-title">Nights</div>
              <div class="hotels-2__information-text">3</div>
            </li>
            <li>
              <div class="hotels-2__information-title">Accomodations</div>
              <div class="hotels-2__information-text">
                1x Executive Suite B&B
              </div>
            </li>
            <li>
              <div class="hotels-2__information-title">Website</div>
              <div class="hotels-2__information-text">
                <a href="http://www.andronisarcadia.com"
                  >www.andronisarcadia.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
