<div class="date-sticky-container">
  <div class="date-sticky">Monday 10 June</div>
  <section class="tours-2 section-space-bot">
    <div class="container-a">
      <h2 class="tours-2__title" id="mark5" data-title="Enjoy Santorini">
        Santorini food & wine private tour
      </h2>
      <div class="tours-2__text">
        <p>
          You will meet your guide and your driver in the hotel lobby. Join this
          amazing, private food & wine tour and discover the wealth of the
          mouth-watering local dishes. Enjoy an afternoon walk in the town of
          Kalambaka and later on a scenic drive through the villages around
          Meteora which are usually dotted by open-air fruit stands.
        </p>
      </div>
      <div class="tours-2__container">
        <div class="tours-2__image">
          <img src="assets/images/tours21.png" alt="" />
        </div>
        <div class="tours-2__information">
          <ul class="tours-2__information-list">
            <li>
              <div class="tours-2__information-list-title">included</div>
              <div class="tours-2__information-list-text">
                <p>
                  Vehicle at disposal with driver, private local guide, entrance
                  tickets at the Natural History Museum, local seasonal organic
                  fruits, soutzouki local delicacy made with un-fermented grape
                </p>
                <div class="read-more-hidden">
                  <p>
                    Our dedicated VIP airport services at Athens International
                    Airport results in stress free arrivals, seamless flight
                    connections and effortless departures. Leave all the details
                    to our experienced English-speaking staff, who are there to
                    ensure that a potentially stressful travel day turns into a
                    smooth and efficient experience.
                  </p>
                </div>
                <div class="read-more">Read More +</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
