<div class="date-sticky-container">
  <div class="date-sticky">Thursday 05 June</div>
  <section class="cruises-2 section-space-bot">
    <div class="container-a">
      <h2 class="cruises-2__title" id="mark1010" data-title="cruise section 1">
        cruise and dinner in santorini
      </h2>
    </div>
    <div class="container-a no-padding-left">
      <div class="cruises-2__container">
        <div class="cruises-2__image">
          <img src="assets/images/cruises2.png" alt="" />
        </div>
        <div class="cruises-2__right">
          <div class="cruises-2__right-title">Private boat transfer</div>
          <div class="cruises-2__right-text">20 meters Catamaran boat</div>
          <div class="cruises-2__right-image">
            <img src="assets/images/cruises4.png" alt="" />
          </div>
          <div class="cruises-2__right-container">
            <div class="cruises-2__item">
              <div class="cruises-2__item-title">included</div>
              <div class="cruises-2__item-text">
                <ul>
                  <li>Round trip transfers</li>
                  <li>
                    Greek menu prepared on the spot (Greek salad, shrimp
                    saganaki, grilled chicken and pork fillet, roasted
                    vegetables, pasta with red sauce, stuffed vine leaves,
                    vegetarian meal), drinks (soft drinks, white Santorinian
                    wine, beer, water)
                  </li>
                  <li>
                    Snorkeling equipment, map, music, floating devices, towels
                    blanket
                  </li>
                </ul>
              </div>
              <div class="cruises-2__item-note"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-a no-padding-right">
      <div class="cruises-2__container reverse">
        <div class="cruises-2__left">
          <h3
            class="cruises-2__left-title"
            id="mark1011"
            data-title="cruise section 2"
          >
            Caldera Cruise at Sunset
          </h3>
          <div class="cruises-2__paragraph-container">
            <p>
              In the afternoon you will be picked up and driven to the port
              where you will board a private luxury lagoon. This afternoon’s
              cruise combines swimming and snorkeling, dinner on board and
              absorbing firsthand Santorini’s famous sunset!
            </p>
            <p>
              Jump off the catamaran and snorkel around the Red Beach or swim at
              the White Beach, then stop at the famous Hot Springs, where parts
              of the water are warmer due to the active volcano.
            </p>
            <div class="read-more-hidden">
              <p>
                Our dedicated VIP airport services at Athens International
                Airport results in stress free arrivals, seamless flight
                connections and effortless departures. Leave all the details to
                our experienced English-speaking staff, who are there to ensure
                that a potentially stressful travel day turns into a smooth and
                efficient experience.
              </p>
            </div>
            <div class="read-more">Read more +</div>
          </div>

          <div class="cruises-2__left-note">
            <b>Please Note:</b>
            <ul>
              <li>
                The menu for the barbeque includes pork, so please advise us in
                advance if chicken or vegetarian is preferred.
              </li>
              <li>
                The sulfur water sometimes affects the fabric on lighter colored
                swimsuits so please wear a darker color!
              </li>
            </ul>
          </div>
        </div>
        <div class="cruises-2__image">
          <img src="assets/images/cruises3.png" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>
