<section class="sidebar">
  <div class="sidebar__inner">
    <div class="sidebar__title">Itinerary Services</div>
    <div class="sidebar__list-title">Day 1</div>
    <ul>
      <li><a href="#">Arrival in Greece</a></li>
      <li><a href="#">Flight (Issued By Client)</a></li>
      <li><a href="#">VIP Connection Service</a></li>
      <li><a href="#">Athens To Mykonos - Economy Class</a></li>
      <li>
        <a href="#">Mykonos Airport to Hotel - Luxurt Merceds Minivan</a>
      </li>
      <li><a href="#">Resort Sea View Suite</a></li>
      <li>
        <a href="#">Hotel to Mykonos Town - Luxury Merces Minivan</a>
      </li>
      <li class="active">
        <a href="#">Dinner reservation: M-eating</a>
      </li>
    </ul>
    <div class="sidebar__list-title">Day 2</div>
    <ul>
      <li><a href="#">Arrival in Greece</a></li>
      <li><a href="#">Flight (Issued By Client)</a></li>
      <li><a href="#">VIP Connection Service</a></li>
      <li><a href="#">Athens To Mykonos - Economy Class</a></li>
      <li>
        <a href="#">Mykonos Airport to Hotel - Luxurt Merceds Minivan</a>
      </li>
      <li><a href="#">Resort Sea View Suite</a></li>
      <li>
        <a href="#">Hotel to Mykonos Town - Luxury Merces Minivan</a>
      </li>
      <li>
        <a href="#">Dinner reservation: M-eating</a>
      </li>
    </ul>
    <div class="sidebar__list-title">Day 3</div>
    <ul>
      <li><a href="#">Arrival in Greece</a></li>
      <li><a href="#">Flight (Issued By Client)</a></li>
      <li><a href="#">VIP Connection Service</a></li>
      <li><a href="#">Athens To Mykonos - Economy Class</a></li>
      <li>
        <a href="#">Mykonos Airport to Hotel - Luxurt Merceds Minivan</a>
      </li>
      <li><a href="#">Resort Sea View Suite</a></li>
      <li>
        <a href="#">Hotel to Mykonos Town - Luxury Merces Minivan</a>
      </li>
      <li>
        <a href="#">Dinner reservation: M-eating</a>
      </li>
    </ul>
  </div>
</section>
