<div class="date-sticky-container">
  <div class="date-sticky">Sunday 30 June</div>
  <section class="travel section-space-bot">
    <div class="container-a">
      <h2 class="travel__title" id="mark1090" data-title="DEPARTURE">
        DEPARTURE FROM GREECE
      </h2>
    </div>
    <div class="travel__container">
      <div class="travel__item">
        <div class="travel__item-title">Flight Details</div>
        <div class="travel__item-border"></div>
        <div class="travel__item-box">
          <div class="travel__item-text">
            <b>Athens to Thessaloniki </b>
            <ul>
              <li>LH1510 arriving at 17:00</li>
              <li>Ticket Class: Economy</li>
              <li>
                Flex ticket: 1 Piece of luggage per passenger up to 23 kg.
              </li>
            </ul>
          </div>
          <div class="travel__item-note"></div>
        </div>
      </div>
      <div class="travel__item">
        <div class="travel__item-title">VIP Connection Service</div>
        <div class="travel__item-border"></div>
        <div class="travel__item-box">
          <div class="travel__item-text">
            <p>
              Our dedicated VIP airport services at Athens International Airport
              results in stress free arrivals, seamless flight connections and
              effortless departures. Leave all the details to our experienced
            </p>
            <div class="read-more-hidden">
              <p>
                Our dedicated VIP airport services at Athens International
                Airport results in stress free arrivals, seamless flight
                connections and effortless departures. Leave all the details to
                our experienced English-speaking staff, who are there to ensure
                that a potentially stressful travel day turns into a smooth and
                efficient experience.
              </p>
            </div>
            <div class="read-more">Read More +</div>
          </div>
          <div class="travel__item-note"></div>
        </div>
      </div>

      <div class="travel__item">
        <div class="travel__item-title">Transfer</div>
        <div class="travel__item-border"></div>
        <div class="travel__item-box">
          <div class="travel__item-text">
            <b>City Center to Thessaloniki Airport - Mercedes Minivan</b>
            <ul>
              <li>Pickup: 17:00 - LH 510 arriving at 17:00</li>
              <li>Drop off: Mykonos Grand</li>
            </ul>
          </div>
          <div class="travel__item-note">
            Your drive time is approximately 30 minutes.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
