<div class="date-sticky-container">
  <div class="date-sticky">Saturday 06 June</div>
  <section class="leisure section-space-bot">
    <div class="container-a">
      <h2 class="leisure__title" id="mark100" data-title="Leisure in Athens">
        Day at leisure in Athens
      </h2>
    </div>
    <div class="leisure__swiper">
      <app-swiper-2></app-swiper-2>
    </div>
    <div class="container-a">
      <div class="leisure__under-swiper">
        <h3 class="leisure__under-swiper-title">Take a Walk</h3>
        <div class="leisure__under-swiper-text">
          <p>
            Mykonos is about more than its tourist haunts: it’s a living,
            working island where traditional local culture is still going
            strong. Get under its skin in ways most tours don't allow on this
            exploration with a local.
          </p>
        </div>
      </div>
    </div>
    <div class="container-a no-padding-right">
      <div class="leisure__container">
        <div class="leisure__image">
          <img src="assets/images/leisure3.png" alt="" />
        </div>
        <div class="leisure__information">
          <h3 class="leisure__information-title">
            Lunch Reservation: Greco’s Project
          </h3>
          <ul class="leisure__information-list">
            <li>
              <div class="leisure__information-list-title">Reservation at</div>
              <div class="leisure__information-list-text">15:00</div>
            </li>
            <li>
              <div class="leisure__information-list-title">Website</div>
              <div class="leisure__information-list-text">
                <a href="www.andronisarcadia.com">www.andronisarcadia.com</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
