<div class="date-sticky-container">
  <div class="date-sticky">Saturday 05 June</div>
  <section class="tours-1 section-space-bot">
    <div class="container-a">
      <h2 class="tours-1__title" id="mark4" data-title="Acropolis">
        Tour in athens
      </h2>
    </div>
    <div class="tours-1__image">
      <img src="assets/images/tours1.png" alt="" />
    </div>
    <div class="container-a no-padding-right">
      <div class="tours-1__container">
        <div class="tours-1__left">
          <p>
            Discover the splendor of Classical Athens and experience the vibrant
            heart of the city on this full day excursion. Your guide will meet
            you in the lobby of your hotel and you will make your way the iconic
            expression of Greek culture: the Acropolis.
          </p>
          <p>
            Walk up the same steps that the ancient trod and view the temples
            where they worshiped the goddess Athena the protectress of the city,
            Poseidon god of the seas and Zeus, king of the gods.
          </p>
          <p>
            Here You’ll discover some of the world’s greatest architectural
            achievements, including the Parthenon. Afterwards, walk down to the
            Acropolis Museum and view the stunning artwork and artifacts that
            adorned the temples and their surroundings.
          </p>
          <p>
            Afterwards, you will proceed way through the historical center to a
            restaurant where you will enjoy a mouthwatering traditional lunch.
            (Note: lunch is not included and will be a la carte).
          </p>
          <div class="read-more-hidden">
            <p>
              Our dedicated VIP airport services at Athens International Airport
              results in stress free arrivals, seamless flight connections and
              effortless departures. Leave all the details to our experienced
              English-speaking staff, who are there to ensure that a potentially
              stressful travel day turns into a smooth and efficient experience.
            </p>
          </div>
          <div class="read-more">Read more +</div>
        </div>
        <div class="tours-1__right">
          <div class="tours-1__right-image">
            <img src="assets/images/tours2.png" alt="" />
          </div>
          <div class="tours-1__right-container">
            <div class="tours-1__item">
              <div class="tours-1__item-title">Private Cooking Class</div>
              <div class="tours-1__item-text">
                <ul>
                  <li>Start: 12:30 - New Hotel</li>
                  <li>Finish: 20:30 - New Hotel</li>
                </ul>
              </div>
              <div class="tours-1__item-note">
                Your drive time is approximately 30 minutes.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
